.header {
    padding: 20px 0px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
        font-family: 'fontGame';
        font-weight: normal;
        margin: auto;
        color: #838587;
        font-size: 32px;
    }
}